@{
    Layout = "~/Views/Shared/_FormsLayout.cshtml";
    ViewBag.Title = "Index";
}

@section header
{
    @Html.Partial("_Header")
}

<table class="splash">
    <tr>
        <td class="title-cell">
            <p>Want more info?</p>
        </td>
    </tr>
    <tr>
        <td class="button-cell">
            <div>
                @Html.ActionLink("Yes, please!", "AboutYou", null, new { type = "button" })
            </div>
        </td>
    </tr>
</table>
