@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_FormsLayout.cshtml";
}

<h1>Planning & Coordination</h1>

<h2>Want more info?</h2>

@Html.ActionLink("Yes, please!", "Form", null, new { @class = "button" })
