@model MobellaEventsForms.ViewModels.MobellaNotesRequest

@{
    Layout = "~/Views/Shared/_FormsLayout.cshtml";
    ViewBag.Title = "Mobella's Notes";
    ViewBag.Step = 4;
}

@section header
{
    @Html.Partial("_WizardHeader")
}

@using (Html.BeginForm("MobellaNotes", "Show",
    new { clientId = Request.Params["clientId"] },
    FormMethod.Post,
    new { id = "MobellaNotesForm" }))
{
    <div class="fieldset">
        <label for="AdditionalNotes">What else did you learn about the happy couple?</label>
        <textarea id="AdditionalNotes" name="AdditionalNotes" rows="8">@Model.AdditionalNotes</textarea>
    </div>
}

@section FormButtons
{
    <input type="submit" form="MobellaNotesForm" value="Ok, done!"/>
    <a type="button" href="@Url.Action("ScheduleConsultation", new { clientId = Request.Params["clientId"] })"><span>Back</span></a>
}
